#sobremim {
  max-width: 800px;
  margin: 50px auto;
  background-color: #225c92;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.heitorFoto {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 15px #225c9267;
  z-index: 2;
}
#texto {
  display: flex;
}
