.filme-destaque {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imdb-button {
  display: inline-block;
  background-color: #f5c518;
  color: #000;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.imdb-button:hover {
  background-color: #e4b100;
  transform: translateY(-2px);
  cursor: pointer;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/sevenPOSTER.png);
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 0;
}

.conteudo {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: white;
}

.logo-central-bladerunner {
  max-width: 300px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sinopse-box {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1000px;
}

.sinopse {
  max-width: 600px;
  background-color: rgba(14, 27, 37, 0.8);
  padding: 20px;
  border-radius: 10px;
}

body,
header {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: #132839;
}

.germinaflix {
  background-color: #0e1b25;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 125px;
  width: 94%;
}

.nav-links {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-button {
  background: transparent;
  border: none;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-button:hover,
.voltar-button:hover,
.voltar-button,
.nav-button:focus,
.atual {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #82acd0dd;
  outline: none;
}

.voltar-button {
  background: transparent;
  border: none;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
  color: aliceblue;
  font-size: 16px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #82acd0dd;
}
.nav-links {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-button {
  background: transparent;
  border: none;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-button:hover,
.nav-button:focus,
.atual {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #82acd0dd;
  outline: none;
}
